.gallery {
  width: 100%;
}
.img-1-ctn {
  width: 100%;
  margin-bottom: 2rem;
}
.img-1-ctn div {
  height: 70vh;
  width: 100%;
  background: url("./images/stadium-1.jpg");
  background-position: center;
  background-size: cover;
}
.flex-ctn {
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  padding: 0 3rem;
}
.flex-ctn .flex-img {
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0 3rem;
  border-top: 5px solid red;
}
.img-2 {
  background: url("./images//jersey-hot.jpg");
}
.img-3 {
  background: url("./images/arsenal-ball-2.jpeg");
}
.img-4 {
  background: url("./images/arsenal-statue.jpeg");
}
.img-5-ctn {
  width: 100%;
  height: 40vh;
  margin: 2rem 0;
}
.img-5 {
  height: 100%;
  background: url("./images/arsenal-footer-2.jpg");
  background-size: cover;
  background-position: center;
}
