.register {
  display: flex;
  font-size: 2.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}
.login__title {
  color: var(--color-blue-primary);
  font-size: 4rem;
  font-family: "Russo One", sans-serif;
  letter-spacing: 0.5rem;
}
.login {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 300px;
}
.login input {
  padding: 1rem;
  font-size: 2rem;
}
.login label {
  padding: 0.5rem 0;
  font-size: 2rem;
  color: #505050;
  font-family: "Russo One", sans-serif;
}
.login__label--password {
  margin-top: 2rem;
}
.login__button {
  margin-top: 4rem;
  padding: 1rem;
  outline: none;
  background-color: var(--color-red-primary);
  border: none;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  font-family: "Russo One", sans-serif;
  letter-spacing: 0.5rem;
}
.login__button:hover {
  background-color: var(--color-red-three);
}
.login__guest {
  margin: 2rem 0;
  text-align: center;
}
.login__guest__link {
  color: var(--color-blue-primary);
  font-family: "Russo One", sans-serif;
  cursor: pointer;
}
.login__guest__link:hover {
  color: var(--color-red-primary);
}
.login__signup {
  text-align: center;
}
.login__signup__link {
  color: var(--color-blue-primary);
  font-family: "Russo One", sans-serif;
  cursor: pointer;
}
.login__signup__link:hover {
  color: var(--color-red-primary);
}
.login__error {
  font-size: 2rem;
  color: red;
  margin-top: 1.5rem;
}

.signup__title {
  color: var(--color-blue-primary);
  font-size: 4rem;
  font-family: "Russo One", sans-serif;
  letter-spacing: 0.5rem;
}
.signup {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 300px;
}
.signup input {
  padding: 1rem;
  font-size: 2rem;
}
.signup label {
  padding: 0.5rem 0;
  font-size: 2rem;
  color: #505050;
  font-family: "Russo One", sans-serif;
}
.signup__label--password {
  margin-top: 2rem;
}
.signup__button {
  margin-top: 4rem;
  padding: 1rem;
  outline: none;
  background-color: var(--color-red-primary);
  border: none;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  font-family: "Russo One", sans-serif;
  letter-spacing: 0.5rem;
}
.signup__button:hover {
  background-color: var(--color-red-three);
}
.signup__back {
  margin-top: 2rem;
  text-align: center;
  background: var(--color-blue-primary);
  color: #fff;
  padding: 1rem;
  font-size: 1.75rem;
  font-family: "Russo One", sans-serif;
  letter-spacing: 0.5rem;
  cursor: pointer;
}
.signup__back:hover {
  background: var(--color-blue-secondary);
}
.signup__error {
  font-size: 2rem;
  color: red;
  margin-top: 1.5rem;
}
.account__container {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  align-items: center;
  height: 60vh;
  margin-top: 5rem;
  text-align: center;
}
.logout__header {
  font-family: "Russo One", sans-serif;
}
.logout__button {
  margin-top: 5rem;
  background-color: var(--color-blue-primary);
  padding: 1rem 2rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.logout__button:hover {
  background-color: var(--color-blue-secondary);
}
.loader__ctn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader,
.loader:before,
.loader:after {
  background: #bf2828;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #b51919;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
