.register {
  display: flex;
  font-size: 2.5rem;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}
.login__title {
  color: var(--color-blue-primary);
  font-size: 4rem;
  font-family: "Russo One", sans-serif;
  letter-spacing: 0.5rem;
}
.login {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 300px;
}
.login input {
  padding: 1rem;
}
.login label {
  padding: 0.5rem 0;
  font-size: 2rem;
  color: #505050;
  font-family: "Russo One", sans-serif;
}
.login__label--password {
  margin-top: 2rem;
}
.login__button {
  margin-top: 4rem;
  padding: 1rem;
  outline: none;
  background-color: var(--color-red-primary);
  border: none;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  font-family: "Russo One", sans-serif;
  letter-spacing: 0.5rem;
}
.login__button:hover {
  background-color: var(--color-red-three);
}
.login__guest {
  margin: 2rem 0;
  text-align: center;
}
.login__guest__link {
  color: var(--color-blue-primary);
  font-family: "Russo One", sans-serif;
  cursor: pointer;
}
.login__guest__link:hover {
  color: var(--color-red-primary);
}
.login__signup {
  text-align: center;
}
.login__signup__link {
  color: var(--color-blue-primary);
  font-family: "Russo One", sans-serif;
  cursor: pointer;
}
.login__signup__link:hover {
  color: var(--color-red-primary);
}

.signup__title {
  color: var(--color-blue-primary);
  font-size: 4rem;
  font-family: "Russo One", sans-serif;
  letter-spacing: 0.5rem;
}
.signup {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 300px;
}
.signup input {
  padding: 1rem;
}
.signup label {
  padding: 0.5rem 0;
  font-size: 2rem;
  color: #505050;
  font-family: "Russo One", sans-serif;
}
.signup__label--password {
  margin-top: 2rem;
}
.signup__button {
  margin-top: 4rem;
  padding: 1rem;
  outline: none;
  background-color: var(--color-red-primary);
  border: none;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  font-family: "Russo One", sans-serif;
  letter-spacing: 0.5rem;
}
.signup__button:hover {
  background-color: var(--color-red-three);
}
.signup__back {
  margin-top: 2rem;
  text-align: center;
  background: var(--color-blue-primary);
  color: #fff;
  padding: 1rem;
  font-size: 1.75rem;
  font-family: "Russo One", sans-serif;
  letter-spacing: 0.5rem;
  cursor: pointer;
}
.signup__back:hover {
  background: var(--color-blue-secondary);
}
