.footer {
  height: 20vh;
  width: 100%;
  background-color:rgb(218,0,33);
  color: #fff;
  font-size: 2rem;
}
.flex {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.flex > * {
  margin: 0 1rem;
}
