.players__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 1rem;

  margin-bottom: 3rem;
  box-shadow: 0 5px 10px rgba(0,0,0,.7);
  padding: 5rem;
}
.player__card {
  background-color: var(--color-red-primary);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 0 10px gray;
}
.player__card__image {
  grid-column: 1 / -1;
  object-fit: cover;
  height: 250px;
  justify-self: center;
}
.player__card__details {
  background-color: #fff;
  grid-row: 2/3;
  grid-column: 1/3;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto-fit);
  grid-template-areas:
  "name name name"
  "position number country"
  "button button button";
}
.player__card__details > * {
  padding: 0 1rem;
}
.player__card__name {
  grid-area: name;
  justify-self: center;
  padding: 1rem 0;
}
.first-name {
  font-size: 1.5rem;
  display: block;
  color: var(--color-gray-dark);
}
.last-name {
  font-size: 4rem;
  display: block;
}
.player__card__position {
  font-size: 2rem;
  grid-area: position;
  align-self: center;
}
.player__card__country {
  font-size: 2rem;
  grid-area: country;
  justify-self: end;
  align-self: center;
}
.player__card__number {
  color: rgba(119,119,119,.4);
  font-size: 4rem;
  grid-area: number;
  justify-self: center;
}
.player__card__button {
  grid-area: button;
  border: none;
  background-color: rgba(119,119,119);
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 2rem 0;
}
.player__card__button:hover {
  cursor: pointer;
  background-color: rgb(72, 72, 72);
}
