/* .footer {
  height: 20vh;
  width: 100%;
  background-color:rgb(218,0,33);
  color: #fff;
  font-size: 2rem;
}
.flex {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.flex > * {
  margin: 0 1rem;
} */

.footer {
  width: 100%;
  background-color: var(--color-red-primary);

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
}
.copyright {
  font-size: 2rem;
  margin-right: 3rem;
}
.icon-github {
  margin-right: 1rem;
}
.icon-github, .icon-linkedin {
  fill: #fff;
  width: 2rem;
}
