.footer {
  width: 100%;
  background-color: var(--color-red-primary);

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
}
.copyright {
  font-size: 2rem;
  margin-right: 3rem;
}
.icon-github {
  margin-right: 1rem;
}
.icon-github,
.icon-linkedin {
  fill: #fff;
  width: 2rem;
}
