.header {
  width: 100%;

  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 150px repeat(4, 1fr) 150px;

  justify-content: center;
  align-items: center;
  text-align: center;

  box-shadow: 0 5px 10px rgba(0,0,0,.5);
  margin-bottom: 2rem;

  text-transform: uppercase;
}
.logo_ctn {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100px;
  align-self: start;
  justify-self: end;
}
.logo__item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header__title {
  font-size: 4rem;
  grid-row: 1 / 2;
  grid-column: 2 / span 4;
}
.first-word {
  color: var(--color-red-secondary);
}
.second-word {
  color: var(--color-blue-primary);
}
.header__title::after {
  content: "";
  display: block;
  height: 3px;
  background-color: var(--color-red-primary);
}
.header__icons {
  display: flex;
}
.icon {
  width: 2rem;
  fill: var(--color-blue-primary);
  margin: 0 1rem;
  transition: all .2s ease;
}
.icon:hover {
  cursor: pointer;
  fill: var(--color-red-secondary);
}

.nav_links {
  grid-row: 2 / 3;
  grid-column: 2 / 6;
  color: var(--color-blue-primary);
  font-weight: 800;
}
.nav_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.nav_list__item {
  font-size: 1.5rem;
  transition: all .2s ease;
  cursor: pointer;
  padding: 1rem 0;
}
.nav_list__item:hover {
  background-color: var(--color-blue-primary);
  color: #fff;
}
