.header {
  position: relative;
  width: 100%;
  padding: 2rem;

  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 150px repeat(4, 1fr) 150px;

  justify-content: center;
  align-items: center;
  text-align: center;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;

  text-transform: uppercase;
}
.logo_ctn {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100px;
  align-self: start;
  justify-self: end;
}
.logo__item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header__title {
  font-size: 4rem;
  grid-row: 1 / 2;
  grid-column: 2 / span 4;
  letter-spacing: 1.5rem;
  font-family: "Russo One", sans-serif;
}
.first-word {
  color: var(--color-red-secondary);
}
.second-word {
  color: var(--color-blue-primary);
}
.header__title::after {
  content: "";
  display: block;
  height: 3px;
  background-color: var(--color-red-primary);
  margin-top: 0.5rem;
}
.header__icons {
  display: flex;
  justify-content: space-evenly;
}
.cart-container {
  position: relative;
}
.cart__num-ctn {
  position: absolute;
  top: 4.5rem;
  right: -1rem;
  background-color: red;
  border-radius: 100px;
  color: #fff;
  width: 2rem;
  height: 2rem;
}
.icon-user,
.icon-cart,
.icon-menu {
  width: 2rem;
  fill: var(--color-blue-primary);
  transition: all 0.2s ease;
}
.icon-user:hover,
.icon-cart:hover,
.icon-menu:hover {
  cursor: pointer;
  fill: var(--color-blue-secondary);
}

.nav_links {
  grid-row: 2 / 3;
  grid-column: 2 / 6;
  font-weight: 800;
}
.nav_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.nav_list__item {
  font-size: 1.5rem;
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 1rem 0;
  text-decoration: none;
  color: var(--color-blue-primary);
  font-family: "Russo One", sans-serif;
  border-bottom: 3px solid transparent;
}
.nav_list__item:hover {
  border-bottom: 3px solid var(--color-blue-primary);
}
.icon-menu {
  display: none;
}
.nav__links__mobile {
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Russo One", sans-serif;
  letter-spacing: 0.5rem;
  display: none;
}
.nav__list__mobile {
  display: inline-block;
  list-style: none;
  background: var(--color-blue-primary);
  padding: 1rem;
  border-radius: 10px;
}
.nav__list__item__mobile {
  text-decoration: none;
}
.nav__list__item__mobile,
.nav__list__item__mobile:visited {
  color: #fff;
}
.nav__list__item__mobile:hover {
  color: var(--color-red-primary);
}
.nav__list__item__mobile li {
  margin-bottom: 1rem;
}
.hidden {
  display: none !important;
}

@media (max-width: 950px) {
  .logo_ctn {
    justify-self: start;
  }
}
@media (max-width: 840px) {
  .header__title {
    font-size: 3.5rem;
  }
}
@media (max-width: 800px) {
  .header {
    grid-template-columns: 100px repeat(4, 1fr) 100px;
  }
  .header__title {
    font-size: 3.3rem;
  }
  .nav_list__item {
    font-size: 1.4rem;
  }
}
@media (max-width: 685px) {
  .header {
    grid-template-columns: 75px repeat(4, 1fr) 75px;
  }
  .nav_list__item {
    font-size: 1.3rem;
  }
  .logo_ctn {
    width: 75px;
  }
  .icon-user,
  .icon-cart,
  .icon-menu {
    height: 1.8rem;
  }
  .cart__num-ctn {
    top: -2rem;
    right: -1rem;
  }
}
@media (max-width: 635px) {
  .header {
    grid-template-columns: 75px 1fr;
    grid-auto-rows: min-content;
    margin: 0;
  }
  .header__title {
    grid-row: 1 / -1;
    grid-column: 2 / -1;
    letter-spacing: 0.5rem;
    align-self: center;
  }
  .logo_ctn {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    align-self: end;
  }
  .header__icons {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }
  .icon-menu {
    display: block;
  }
  .icon-cart,
  .icon-user,
  .icon-menu {
    height: 2rem;
  }
  .nav_links {
    display: none;
  }
  .nav__links__mobile {
    display: block;
  }
}
@media (max-width: 560px) {
  .header {
    padding: 1rem;
  }
  .header__title {
    font-size: 3rem;
  }
}
@media (max-width: 400px) {
  .header__title {
    font-size: 2.5rem;
  }
  .icon-menu {
    height: 2.5rem;
  }
}
